pipeline/Maxloaddate.json
{
	"name": "Maxloaddate",
	"properties": {
		"activities": [
			{
				"name": "LastLoadDate",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_last_loaddate",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "maxloaddate",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select max(TxnDT) as maxloaddate from SourceTable",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_Max_LoadDate_Sql",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "IncreamentLoadData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LastLoadDate",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "maxloaddate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select* from SourceTable where TxnDT> '@{activity('LastLoadDate').output.firstRow.lastLoadDate}'and TxnDT<='@{activity('maxloaddate').output.firstRow.maxloaddate}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_incremental_load_sql",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_destination",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@concat('sales-',substring(activity('maxloaddate').output.firstRow.maxloaddate,0,10),'_data.csv')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Update LastDate Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "IncreamentLoadData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "lastLoadDate",
								"value": {
									"value": "@activity('maxloaddate').output.firstRow.maxloaddate",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_dummy",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_last_loaddate",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-05-15T11:23:42Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}